<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.joseluiscd.seagull">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:name=".Seagull"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CollectionActivity"
            android:label="@string/title_activity_collection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".media.Player" />

        <activity
            android:name=".PlaylistActivity"
            android:label="@string/title_activity_playlist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".CollectionActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".AlbumActivity"
            android:label="@string/title_activity_album"
            android:parentActivityName=".CollectionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>